# Byte-compiled / Python #
__pycache__/
*.py[cod]
*$py.class

# Virtual environment #
.env
myvenv/
venv/
env/

# Django static and media files #
static/
media/

# Local development environment settings #
.env
*.sqlite3

# Ignore secret keys or config files #
config.json
secrets.json

# Ignore Django migrations cache #
**/migrations/*.pyc
**/migrations/*.py

# Ignore IDE/editor files #
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system files #
.DS_Store
Thumbs.db
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace