{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>
	<style>
		body::-webkit-scrollbar {
			display: none;
		}
		.signIn_btn {
			max-width: none;
		}

		.fs-40 {
			font-size: 40px;
		}

		a {
			text-decoration: aliceblue;
			color: white;
		}

		a:hover {
			color: white;
		}
	</style>
</head>

<body class="main-layout">
	<div id="contact" class="request">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<br>
						<br>
						<h2>Forgot Password</h2>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
							incididunt ut labore et dolore magna</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="black_bg">
						<div class="row">
							<div class="col-md-7 ">
								<form class="main_form" action='{% url "newpassword" %}' method="post">
									{% csrf_token %}
									<h1 class="d-flex justify-content-center text-white fs-40">New Password</h1>
									<br>
									{% if message %}
									<h4 class="d-flex justify-content-center text-dark bg-light">{{message}}</h4>
									{% endif %}
									<br>
									<div class="row">
										<div class="col-md-12">
											<input class="contactus" type="hidden" name="email"
												value="{{email}}">
										</div>
										<div class="col-md-12">
											<input class="contactus" placeholder="New Password" type="password"
												name="newpassword">
										</div>
										<div class="col-md-12">
											<input class="contactus" placeholder="Confirm New Password" type="text"
												name="cnewpassword">
										</div>
										<div class="col-sm-12">
											<button class="send_btn mw-100">Update Password</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-5">
								<div class="mane_img">
									<figure><img src='{% static "images/contact-page.jpg" %}' alt="#" /></figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
{% endblock %}