{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign In</title>
	<style>
		body::-webkit-scrollbar {
			display: none;
		}
		.signIn_btn {
			max-width: none;
		}
		.fs-40{
			font-size: 40px;
		}
		a {
			text-decoration: aliceblue;
			color: white;
		}

		a:hover {
			color: white;
		}
	</style>
</head>

<body class="main-layout">
	<div id="contact" class="request">
		<div class="container"><br>
			<div class="row">
				<div class="col-sm-12">
					<div class="black_bg">
						<div class="row">
							<div class="col-md-7 ">
								<form class="main_form" action='{% url "signIn" %}' method="post">
									{% csrf_token %}
									<h1 class="d-flex justify-content-center text-white fs-40">Sign In</h1>
									<br>
									{% if message %}
									<h2 class="d-flex justify-content-center align-items-center text-dark bg-light">{{message}}</h2>
									{% endif %}
									<br>
									<div class="row">
										<div class="col-md-12">
											<input class="contactus" placeholder="Email" type="text" name="email">
										</div>
										<div class="col-md-12">
											<input class="contactus" placeholder="Password" type="password"
												name="password">
										</div>
										<div class="col-sm-12">
											<a href='{% url "forgotPassword" %}' class="">Forgot Password ?</a>
										</div>
										<div class="col-sm-12">
											<button class="send_btn mw-100">Sign in</button>
										</div>
										<div class="col-sm-12"><a class="d-flex justify-content-center send_btn mw-100"
													href='{% url "signUp" %}'>Sign up</a>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-5">
								<div class="mane_img">
									<figure><img src='{% static "images/contact-page.jpg" %}' alt="#" /></figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
{% endblock %}